<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header'); %>
  <main>
    <div class="jumbotron">
        <h1>Entendendo Node com EJS</h1>
        <p>Minha primeira página utilizando Node e EJS</p>
        <p><%= subtitle %></p>
    </div>

    <ul>
      <li>
        <strong>Título</strong> Mensagem
      </li>
      <% qualidades.forEach(function(qualidade){%>
        <li>
          <strong><%= qualidade.title %></strong>
          <p>
            <%= qualidade.message %>
          </p>
        </li>
     <% }) %>
    </ul>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>